/references
.vs
.idea

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rtifacts/

.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user
*.rsuser
*.sln.iml

packages/
*.nupkg
*.snupkg
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/

TestResults/
*.trx
*.coverage
*.coveragexml

Thumbs.db
.DS_Store
Desktop.ini

*.log

*.tmp
*.temp
*.cache
*.pdb

appsettings.Development.json
secrets.json
.env
.env.*